<ion-view class="header-text" view-title="Trax">
  <ion-nav-bar class="header-color">
  </ion-nav-bar>
  <ion-content class="padding">
  <ion-list>
    <ion-item>
      <div class="row">
        <div class="col">
        First Name: 
        </div>
       <div class="col">
       {{people.first_name}}
       </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Last Name: 
        </div>
       <div class="col">
        {{people.last_name}}
        </div>
       </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Date of Birth: 
        </div>
        <div class="col">
        {{people.dob}}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Address: 
        </div>
       <div class="col">
       {{people.address}}
         </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Email: 
        </div>
       <div class="col">
       {{people.email}}
         </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Telephone: 
        </div>
       <div class="col">
       {{people.telephone}}
         </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col">
        Year of Study: 
        </div>
       <div class="col">
       {{people.year}}
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
