<!DOCTYPE html>
<html>
<ion-view view-title="Account">
  <ion-content class="padding">
    <button class="button button-positive button-block" ng-click="load()">Account</button>
    <ion-list>
        <ion-item ng-repeat="item in userdata">
        <span class="input-label">ID:
         {{item.id}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">First Name:
         {{item.firstname}}
        </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Last Name:
         {{item.lastname}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Email:
         {{item.email}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Date of Birth:
         {{item.dob}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Address:
         {{item.address}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Phone:
         {{item.phone}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Year:
         {{item.year}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Car:
         {{item.car}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Seats:
         {{item.seats}}
         </span>
        </ion-item>
        <ion-item ng-repeat="item in userdata">
          <span class="input-label">Password:
         {{item.password}}
         </span>
        </ion-item>
    </ion-list>
  <!--  <ion-list>
      <ion-item>
        ID: {{item.id}}
      </ion-item>
      <ion-item>
        First Name: {{item.firstname}}
      </ion-item>
      <ion-item>
        Last Name: {{item.lastname}}
      </ion-item>
      <ion-item>
        Email Address: {{item.email}}
      </ion-item>
      <ion-item>
        Date of Birth: {{item.dob}}
      </ion-item>
      <ion-item>
        Address: {{item.address}}
      </ion-item>
      <ion-item>
        Phone Number: {{item.phone}}
      </ion-item>
      <ion-item>
        Year of Study: {{item.year}}
      </ion-item>
      <ion-item>
        Car: {{item.car}}
      </ion-item>
      <ion-item>
        Number of Seats: {{item.seats}}
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
</html>
