<ion-view class="header-text" view-title="Trax">
<ion-nav-bar class="header-color">
</ion-nav-bar>

  <ion-content class="padding">

	<button class="button button-full button-light" ng-click="profile()">
	Profile</button>
		<button class="button button-full button-light" ng-click="myclubs()">
	My Clubs</button>
	<button class="button button-full button-light" ng-click="edituser()">
	Edit Profile</button>
		<button class="button button-full button-light" ng-click="delete">
	Delete Profile</button>
  </ion-content>
</ion-view>
</html>
